@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
* {
  box-sizing: border-box;
  /* margin: 0;
  padding: 0; */
}

body {
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form{
    width: 100%;
    max-width: 700px;

}

.user-form input{
    width: 100%;
    display: block;
    background-color: #4c2885;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 1rem;
    margin-bottom: 2rem;
    font-family: inherit;
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-form input::placeholder{
    color: #bbb;
}


.user-form input:focus{
    outline: none;
}
.card{
    max-width: 800px;
    background-color: #4c2885;
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;

}

.avatar{
  border-radius: 50%;
  border: 10px solid #2a2a72;
  height: 150px;
  width: 150px;
}
.user-info{
    color: #eee;
    margin-left: 2rem;

}


.user-info h2{
    margin-top: 0;
}

.user-info ul{
    list-style-type:none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user-info ul li{
    display: flex;
    align-items: center;

}

.user-info ul li strong{
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo{
    text-decoration: none;
    color: white;
    background-color: #212a72;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block;
}
@media(max-width: 500px){
   .card{
    flex-direction: column;
    align-items: center;
   }

   .user-form{
    max-width: 400px;
   }
}
